html {
    scroll-behavior: smooth;
}
body {
    background-image: url(Asset/background3.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 30px; /* Pour éviter que le contenu soit caché derrière la nav fixe */
}
nav {
    list-style: none; /* Supprime les puces */
    display: flex;
    justify-content: center;
    padding: 15px 0; /* Ajoute de l'espace autour des liens */
    background-color: #1a1e57;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.575);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Pour qu’il reste au-dessus du reste du contenu */
    z-index: 1000;
}
nav a {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;  
    font-size: 18px;
    margin: 0 15px; /* Espace entre les liens */
    text-decoration: none; /* Supprime le soulignement */
}
a:hover {
    text-decoration: none; /* Supprime le soulignement au survol */
    color: #000000;
    transform: scale(1.05); /* Agrandit légèrement le lien au survol */
    transition: 0.2s; /* Animation douce */
}
nav li {
    display: inline-block;
    margin: 0 15px;
}
header {
    padding: 8px 0; /* Ajoute de l'espace autour du texte */
}
#banner {
    display: flex;
    height: 100vh; /* Hauteur de la bannière */
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    width: 100%;
}
#pp3 {
    border-radius: 3%;
    width: 25%; 
    margin: 42px; /* Espace autour de l'image */
    opacity: 0;                  /* commence invisible */
    animation: fadeIn 1s forwards; /* animation de fondu en entrée */
}
@keyframes fadeIn { /* définition de l'animation */ 
    to {
        opacity: 1; /* termine complètement visible */
    }
}
#topPresentation {
    display: flex;
    flex-direction: column;
    background-color: #1f1268;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    justify-content: center;
    padding: 0px;
    margin-right: 20px;
    width: 65%;
    opacity: 0;                  /* commence invisible */
    animation: fadeIn 1.5s forwards; /* animation de fondu en entrée */
}
#topPresentation h1 {
    color: #d0d8ff;
    font-size: 75px;
    text-align: center;
    justify-content: top;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre pour améliorer la lisibilité */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
#topPresentation #p1 {
    color: #d0d8ff;
    text-align: center;
    font-size: 40px;
    background-color: #000000a4;
    margin: 65px;
    padding: 20px;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#topPresentation #p2 {
    color: #d0d8ff;
    text-align: center;
    font-size: 32px;
    text-transform: none;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px;
}
#separateur { /*ligne de séparation blanche avec la page principal et les autres*/
    height: 4px;
    width: 70%;
    margin: 0 auto; /* Centrer horizontalement */
    justify-content: center;
    background: linear-gradient(to right, rgba(0,0,0,0), rgb(199, 198, 255), rgba(255, 255, 255, 0));
}
#sections {
    line-height: 1.5;
}
#aPropos {
    display: block;
    color: #d0d8ff;
    background-color: #402ea8b7;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    margin: 50px;
    padding: 40px;
    text-align: center;
}
#softskills1 {
    padding-top: 90px;
    width: 27%;
    justify-content: center;
    border-radius: 10px;
    margin-left: 5%;
}
#softSkills {
    display: flex;
    text-align: center;
    align-items: flex-start;
}
#softSkillsContent {
    width: 75%;
    color: #d0d8ff;
    background-color: #402ea8b7;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    margin: 50px;
    padding: 50px;
    text-align: center;
    align-items: flex-start;
    
}
#colonneSoft {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
}
#colonneSoft li {
    margin: 10px; /* Espace autour de chaque élément de la liste */
    display: flex; /* Utilise Flexbox pour aligner l'icône et le texte */
}
#softSkills ul {
    list-style: none;
    text-align: center;          
    list-style-position: inside; 
}
#softSkills li img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px; /* Espace entre l'icône et le texte */
}
#sosftSkills img #softskills1 {
    margin-right: 10px; /* Espace entre l'icône et le texte */
    vertical-align: middle; /* Aligne verticalement l'icône avec le texte */
    flex-direction: row;
}
#technologies1 {
    padding-top: 70px;
    margin: 20px;
    width: 23%;
}
#technologies {
    display: flex;
    padding: 20px;
    margin: 18px;
    text-align: center;
    align-items: flex-start;
}
#technologiesContent {
    width: 65%;
    color: #d0d8ff;
    background-color: #402ea8b7;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    margin: 20px;
    padding: 50px;
    text-align: center;
}
#colonneTech {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
}
#technologies ul {
    list-style: none;     
    padding: 0;           
    text-align: center;   
}
#colonneTech {
    display: flex;
}
#colonneTech li {
    margin: 10px; /* Espace autour de chaque élément de la liste */
    display: flex; /* Utilise Flexbox pour aligner l'icône et le texte */
}
#technologies li img {
    width: 50px;
    height: 50px;
    margin-right: 11px; /* Espace entre l'icône et le texte */
}
#realisations {
    color: #d0d8ff;
    font-size: 20px;
    padding: 20px;
    margin: 30px;
    text-align: center;
}
#realisations {
    display: flex;
    align-items: flex-start;
    gap: 40px; /* espace entre image et texte */
    margin: 30px;
}
#realisations1 {
    width: 25%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
#realisationsContent {
    width: 75%; 
    background-color: #402ea8b7;
    color: #d0d8ff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.46);
}
#contact {
    color: #d0d8ff;
    background-color: #6d76a8c4;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(7, 0, 34, 0.459);
    margin: 50px;
    padding: 15px;
    text-align: center;
}
#contact ul {
    list-style: none;     
    padding: 25px 0;           
    text-align: center; 
    justify-content: center;  
    display: flex; /*pour qu'ils suivent l'alignement, donc ici horizontal, faut mettre flex direction si on veut les boutons en colonne */
    gap: 20px;               /* espace entre les éléments */   
}
#contact ul li a{
    text-decoration: none;          /* pas de soulignement */
    color: #d0d8ff;                   /* texte blanc */
    padding: 8px 20px;
    border-radius: 25px;            /* coins arrondis */
    font-weight: bold;
    transition: all 0.3s ease;      /* animation douce au survol */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
#contact ul li a[href*="linkedin"] {
    background-color: #0077b5;      /* bleu LinkedIn */
}
#contact ul li a[href*="github"] {
    background-color: #333;          /* noir GitHub */
}
#contact ul li a:hover {
    transform: scale(1.1);                  /* grossit légèrement */
    box-shadow: 0 6px 20px rgba(0,0,0,0.5); /* ombre plus forte */
    filter: brightness(1.2);                /* plus lumineux */
}
#cvImage {
    width: 90px;
    height: 90px;
}
#CV h3 {
    color: #d0d8ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-shadow: #000000 1px 1px 2px;   
}
footer {
    background-color: #000000;
    color: #d0d8ff;
    text-align: center;
    padding: 1px ;
}
h2 {
    color: #d0d8ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: #000000 1px 1px 2px;   
}