body {
    background-image: url(Asset/background3.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
nav {
    list-style: none; /* Supprime les puces */
    display: block;
    padding: 15px 0; /* Ajoute de l'espace autour des liens */
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.575);
}
nav a {
    display : block; 
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;  
    font-size: 18px;
    margin: 0 15px; /* Espace entre les liens */
    text-decoration: none;
}
a:hover {
    text-decoration: none; /* Supprime le soulignement au survol */
    color: #000000;
    transform: scale(1.05); /* Agrandit légèrement le lien au survol */
    transition: 0.2s; /* Animation douce */
}
nav li {
    display: inline-block;
    margin: 0 15px;
}
header {
    padding: 8px 0; /* Ajoute de l'espace autour du texte */
}
#banner {
    display: flex;
    height: 100vh; /* Hauteur de la bannière */
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    width: 100%;
}
#pp3 {
    border-radius: 3%;
    width: 42%; 
    margin: 20px; /* Espace autour de l'image */
    opacity: 0;                  /* commence invisible */
    animation: fadeIn 1s forwards; /* animation de fondu en entrée */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.459);
}
@keyframes fadeIn { /* définition de l'animation */
    to {
        opacity: 1; /* termine complètement visible */
    }
}
#topPresentation {
    display: flex;
    flex-direction: column;
    background-color: #0f0064;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    justify-content: center;
    padding: 20px;
    width: 55%;
}
#topPresentation h1 {
    color: #ffffff;
    font-size: 75px;
    margin: 0;
    text-align: center;
    justify-content: top;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre pour améliorer la lisibilité */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
#topPresentation p {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0%;
}
#aPropos {
    display: block;
    color: #ffffff;
    background-color: #4d4094;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    font-size: 18px;
    margin: 50px;
    padding: 20px;
    text-align: center;
}
#softSkills {
    display: block;
    color: rgb(255, 255, 255);
    background-color: #4d4094;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    margin: 50px;
    padding: 20px;
    text-align: center;
}
#codage, #bdd, #github, #projet {
    width: 24px; /* Taille des icônes */
    height: 24px;
    vertical-align: middle; /* Aligne les icônes avec le texte */
    margin-right: 10px; /* Espace entre l'icône et le texte */
}
#softSkills ul {
    list-style: none;
    text-align: center;          
    list-style-position: inside; 
}
#technologies {
    color: #ffffff;
    margin: 50px;
    padding: 20px;
    background-color: #4d4094;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    text-align: center;
}
#technologies ul {
    list-style: none;     
    padding: 0;           
    text-align: center;   
}
#realisations {
    color: #ffffff;
    background-color: #4d4094;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    padding: 20px;
    margin: 50px;
    text-align: center;
}
#contact {
    color: white;
    background-color: #4d4094;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    margin: 50px;
    padding: 20px;
    text-align: center;
}
#contact form {
    display: inline-block;
    text-align: left;
}
#contact ul {
  list-style: none;     
  padding: 0;           
  text-align: center;   
}
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
}
h2 {
    color: #ffffff;   
}